name: CI

on:
  push:
  pull_request:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    runs-on: windows-latest
    name: Build
    env:
      CONFIGURATION: Release

    strategy:
      matrix:
        platform:
          - x86
          - x64

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - run: msbuild /p:Platform=${{ matrix.platform }} src/d2dlib/D2DLib.vcxproj
      - run: dotnet restore /p:Platform=${{ matrix.platform }} src/D2DLib.sln
      - run: dotnet build -c $env:CONFIGURATION /p:Platform=${{ matrix.platform }} src/D2DLibExport/D2DLibExport.csproj
      - run: dotnet build -c $env:CONFIGURATION /p:Platform=${{ matrix.platform }} src/D2DWinForm/D2DWinForm.csproj
      - run: dotnet build -c $env:CONFIGURATION /p:GenerateResourceUsePreserializedResources=true /p:Platform=${{ matrix.platform }} src/Examples/Examples.csproj
